<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- ================= Favicon ================== -->
    <!-- Standard -->
    <link rel="shortcut icon" href="http://placehold.it/64.png/000/fff">
    <!-- Retina iPad Touch Icon-->
    <link rel="apple-touch-icon" sizes="144x144" href="http://placehold.it/144.png/000/fff">
    <!-- Retina iPhone Touch Icon-->
    <link rel="apple-touch-icon" sizes="114x114" href="http://placehold.it/114.png/000/fff">
    <!-- Standard iPad Touch Icon--> 
    <link rel="apple-touch-icon" sizes="72x72" href="http://placehold.it/72.png/000/fff">
    <!-- Standard iPhone Touch Icon--> 
    <link rel="apple-touch-icon" sizes="57x57" href="http://placehold.it/57.png/000/fff">
	
	<!-- Styles -->
	<link rel="stylesheet" type="text/css" href="../static/layui/css/layui.css">
    <link href="../static/css/fontawesome-all.min.css" rel="stylesheet">
    <link href="../static/css/themify-icons.css" rel="stylesheet">
    <link href="../static/css/bootstrap.min.css" rel="stylesheet">
    <link href="../static/css/nixon.css" rel="stylesheet">
    <link href="../static/css/style.css" rel="stylesheet">
    
	<title></title>
</head>
<body>
	<div class="login-form" style="height:350px">
		<form>
			<div class="form-group">
				<input style="display: none" type="text" class="form-control" name="id" th:value="${goods.id}">
			</div>
			<div class="form-group">
				<input type="text" class="form-control" placeholder="请输入商品名称" name="gName" th:value="${goods.gName}">
			</div>
			<div class="form-group">
				<input type="text" class="form-control" placeholder="请输入库存数量" name="gCount" th:value="${goods.gCount}" style="width: 49%;display: inline-block">
				<input type="text" class="form-control" placeholder="请输入商品单价" name="gPrice" th:value="${goods.gPrice}" style="width: 49%;display: inline-block">
			</div>	
			<div class="form-group">
				<select class="form-control"  name="deptId" style="width: 49%;display: inline-block">	
					<option value="">请选择一级分类</option>
				</select>
				<select class="form-control"  name="deptId" style="width: 49%;display: inline-block">
					<option value="">请选择二级分类</option>
				</select>	
			</div>
		</form>
		<button class="btn btn-danger btn-flat m-b-30 m-t-30" onclick="push();">提交更新</button>	
	</div>	
</body>
<script src="../static/js/jquery-1.9.1.min.js"></script>
<script src="../static/layui/layui.js"></script>
<script>
	function push(){
		$.ajax({
			url: "upGoods",
			data: $("form").serialize(),
			type: "POST",
			success:function(str){
				if(str.code == 1){
					alert("更新成功");
				}
				else{
					alert("更新失败");
				}
			},
			error:function(){
				
			}
		});
		setTimeout("reloadAgain()", 100);		
	}
	function reloadAgain(){
		//关闭弹出层
		var index = parent.layer.getFrameIndex(window.name);
		//关闭当前页
		parent.layer.close(index);
		//父页面刷新
		parent.location.reload();
	}
</script>			
</html>