<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qian.dao.manager.IOrderDao"><!--namespace属性关联dao层-->

    <!--orm 对象和数据表之间的映射关系-->
    <resultMap id="baseMap" type="com.qian.model.manager.Order">
        <!--
        column 指定数据表字段
        property 指定类属性
        jdbcType 指定数据类型 int-INTEGER string-VARCHAR
        -->
        <result column="order_no"     property="orderNo"     jdbcType="VARCHAR"/>
        <result column="u_id"         property="uId"         jdbcType="INTEGER"/>
        <result column="g_id"         property="gId"         jdbcType="INTEGER"/>
        <result column="g_name"       property="gName"       jdbcType="VARCHAR"/>
        <result column="g_price"      property="gPrice"      jdbcType="DECIMAL"/>
        <result column="buy_count"    property="buyCount"    jdbcType="INTEGER"/>
        <result column="pay_money"    property="payMoney"    jdbcType="DECIMAL"/>
        <result column="order_status" property="orderStatus" jdbcType="INTEGER"/>
    </resultMap>

    <!--
    parameterType 参数类型
    resultMap 结果集映射 对应的是resultMap.id
    -->
    <select id="query" parameterType="com.qian.model.manager.Order" resultMap="baseMap">
        <!-- #{} 会自动在变量前后拼一个英文单引号-->
        SELECT *
        FROM order_info
        <where> <!-- where标签会把标签中的第一条if语句中的and去掉-->
            <if test="orderNo != null ">     AND order_no LIKE concat('%',#{orderNo},'%')</if>
            <if test="orderStatus != null "> AND order_status = #{orderStatus} </if>
        </where>
        <if test="pageNo != null and pageCount != null">LIMIT #{pageNo}, #{pageCount}</if>
    </select>

    <select id="countOrder" parameterType="com.qian.model.manager.Order"  resultType="java.lang.Long">
        <!-- #{} 会自动在变量前后拼一个英文单引号-->
        SELECT COUNT(*) FROM order_info
        <where> <!-- where标签会把标签中的第一条if语句中的and去掉-->
            <if test="orderNo != null ">     AND order_no LIKE concat('%',#{orderNo},'%')</if>
            <if test="orderStatus != null "> AND order_status = #{orderStatus} </if>
        </where>
    </select>

    <update id="refond" parameterType="java.lang.String">
        update order_info set order_status=5 where order_no = #{orderNo}
    </update>

</mapper>