<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qian.dao.IOrderDao"><!--namespace属性关联dao层-->

    <!--orm 对象和数据表之间的映射关系-->
    <resultMap id="baseMap" type="com.qian.model.manager.Order">
        <!--
        column 指定数据表字段
        property 指定类属性
        jdbcType 指定数据类型 int-INTEGER string-VARCHAR
        -->
        <result column="order_no"     property="orderNo"     jdbcType="VARCHAR"/>
        <result column="u_id"         property="uId"         jdbcType="INTEGER"/>
        <result column="g_id"         property="gId"         jdbcType="INTEGER"/>
        <result column="g_name"       property="gName"       jdbcType="VARCHAR"/>
        <result column="g_price"      property="gPrice"      jdbcType="DECIMAL"/>
        <result column="buy_count"    property="buyCount"    jdbcType="INTEGER"/>
        <result column="pay_money"    property="payMoney"    jdbcType="DECIMAL"/>
        <result column="order_status" property="orderStatus" jdbcType="INTEGER"/>
        <result column="update_time"  property="updateTime"  jdbcType="TIMESTAMP"/>
        <result column="create_time"   property="createTime"   jdbcType="TIMESTAMP"/>
    </resultMap>

    <!--
    parameterType 参数类型
    resultMap 结果集映射 对应的是resultMap.id
    -->
    <select id="query" parameterType="com.qian.model.manager.Order" resultMap="baseMap">
        <!-- #{} 会自动在变量前后拼一个英文单引号-->
        SELECT * FROM(
            SELECT * FROM order_info
            <where><!-- where标签会把标签中的第一条if语句中的and去掉-->
                <if test="orderStatus != null "> AND order_status = #{orderStatus} </if>
                <if test="orderStatus2 != null "> OR order_status = #{orderStatus2} </if>
            </where>
        ) as a
        <where>
            <if test="orderNo != null ">  AND a.order_no LIKE concat('%',#{orderNo},'%')</if>
            <if test="uId != null ">      AND a.u_id = #{uId}</if>
            <if test="gName != null ">    AND a.g_name LIKE concat('%',#{gName},'%')</if>
        </where>
        ORDER BY create_time DESC
        <if test="pageNo != null and pageCount != null">LIMIT #{pageNo}, #{pageCount}</if>
    </select>

    <select id="countOrder" parameterType="com.qian.model.manager.Order"  resultType="java.lang.Long">
        <!-- #{} 会自动在变量前后拼一个英文单引号-->
        SELECT COUNT(*) FROM(
            SELECT * FROM order_info
            <where><!-- where标签会把标签中的第一条if语句中的and去掉-->
                <if test="orderStatus != null "> AND order_status = #{orderStatus} </if>
                <if test="orderStatus2 != null "> OR order_status = #{orderStatus2} </if>
            </where>
        ) as a
        <where>
            <if test="orderNo != null ">  AND a.order_no LIKE concat('%',#{orderNo},'%')</if>
            <if test="uId != null ">      AND a.u_id = #{uId}</if>
            <if test="gName != null ">    AND a.g_name LIKE concat('%',#{gName},'%')</if>
        </where>
    </select>

    <update id="refond" parameterType="java.lang.String">
        update order_info set order_status=5 where order_no = #{orderNo}
    </update>

    <update id="upRefond" parameterType="java.lang.String">
        update order_info set order_status=4 where order_no = #{orderNo}
    </update>

    <update id="recieved" parameterType="java.lang.String">
        update order_info set order_status=3 where order_no = #{orderNo}
    </update>

    <update id="deliver" parameterType="java.lang.String">
        update order_info set order_status=2 where order_no = #{orderNo}
    </update>

    <update id="afterPay" parameterType="com.qian.model.manager.Order">
        update order_info
        set order_status=1, update_time= #{updateTime}
        where order_no = #{orderNo}
    </update>

    <insert id="insert" parameterType="com.qian.model.manager.Order"  useGeneratedKeys="true" keyProperty="orderNo">
        insert into order_info
        <!--
        prefix 前缀
        suffix 后缀
        suffixOverrides 去除拼接语句中的最后一个逗号
        -->
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="orderNo != null ">     order_no, </if>
            <if test="uId != null ">         u_id, </if>
            <if test="gId != null ">         g_id, </if>
            <if test="gName != null ">       g_name, </if>
            <if test="gPrice != null ">      g_price, </if>
            <if test="buyCount != null ">    buy_count, </if>
            <if test="payMoney != null ">    pay_money, </if>
            <if test="orderStatus != null "> order_status, </if>
            <if test="updateTime != null ">  update_time, </if>
        </trim>
        <trim prefix="VALUES(" suffix=")" suffixOverrides=",">
            <if test="orderNo != null ">     #{orderNo}, </if>
            <if test="uId != null ">         #{uId}, </if>
            <if test="gId != null ">         #{gId}, </if>
            <if test="gName != null ">       #{gName}, </if>
            <if test="gPrice != null ">      #{gPrice}, </if>
            <if test="buyCount != null ">    #{buyCount}, </if>
            <if test="payMoney != null ">    #{payMoney}, </if>
            <if test="orderStatus != null "> #{orderStatus}, </if>
            <if test="updateTime != null ">  #{updateTime}, </if>
        </trim>
    </insert>

</mapper>