<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>个人商店管理系统</title>
    <!-- Styles -->
    <link href="/sm/static/css/fontawesome-all.min.css" rel="stylesheet">
    <link href="/sm/static/css/themify-icons.css" rel="stylesheet">
    <link href="/sm/static/css/mmc-chat.css" rel="stylesheet" />
    <link href="/sm/static/css/sidebar.css" rel="stylesheet">
    <link href="/sm/static/css/bootstrap.min.css" rel="stylesheet">
    <link href="/sm/static/css/nixon.css" rel="stylesheet">
    <link href="/sm/static/css/lobipanel.min.css" rel="stylesheet">
    <link href="/sm/static/css/style.css" rel="stylesheet">
</head>

<body>
    <div class="sidebar sidebar-hide-to-small sidebar-shrink sidebar-gestures" >
        <div class="nano">
            <div class="nano-content">
                <ul>
                    <li class="active">
                   		<a class="sidebar-sub-toggle"><i class="ti-package"></i>商品管理<span class="sidebar-collapse-icon ti-angle-down"></span></a>
                   		<ul>
                            <li><a href="/sm/goodsmanage/onGoodsListPage" target="main">商品列表</a></li>
                            <li><a href="/sm/goodsmanage/offGoodsListPage" target="main">下架商品</a></li>
                        </ul>
                    </li>
                    <li>
						<a class="sidebar-sub-toggle"><i class="ti-clipboard"></i>订单管理<span class="sidebar-collapse-icon ti-angle-down"></span></a>
                        <ul>
                            <li><a href="/sm/ordermanage/deliveredOrderPage" target="main">发货订单</a></li>
                            <li><a href="/sm/ordermanage/refundOrderPage" target="main">退款订单</a></li>
							<li><a href="/sm/ordermanage/finishOrderPage" target="main">完成订单</a></li>
                        </ul>
                    </li>
					<li>
						<a class="sidebar-sub-toggle"><i class="ti-bookmark"></i>分类管理<span class="sidebar-collapse-icon ti-angle-down"></span></a>
					    <ul>
					        <li><a href="/sm/categorymanage/categoryPage" target="main">分类列表</a></li>
					    </ul>
					</li>
                    <li><a href="/sm/qian/loginPage"><i class="ti-close"></i>退出</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="header" style="width: 100%;">
        <div class="pull-left">
            <div class="logo">
                <a href="mainPage">
                    <img id="logoImg" src="/sm/static/images/welcome.png" alt="个人商店后台管理系统" />
                </a>
            </div>
        </div>
        <div class="pull-right p-r-15">
            <ul>
                <li class="header-icon dib">
                    <i class="ti-user"></i>
                    <span class="user-avatar" th:text="${mName}">用户未登录</span>
                </li>
            </ul>
        </div>
   	</div>
    <div class="content-wrap">
        <iframe name="main"
			src="/sm/goodsmanage/onGoodsListPage"
			frameborder="0"
			style="width: 100%; height: 1000px;">
		</iframe>
   </div>
</body>
<script src="/sm/static/js/jquery-1.9.1.min.js"></script>
<!-- /# content wrap -->
<script src="/sm/static/js/jquery.min.js"></script>
<!-- jquery vendor -->
<script src="/sm/static/js/jquery.nanoscroller.min.js"></script>
<!-- nano scroller -->
<script src="/sm/static/js/sidebar.js"></script>
<!-- sidebar -->
<script src="/sm/static/js/bootstrap.min.js"></script>
<!-- bootstrap -->
<script src="/sm/static/js/scripts.js"></script>
<!-- scripit init-->
</html>