<!-- de5e55 -->
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="renderer" content="webkit">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
	<title>buyall</title>
	<!-- ================= Favicon ================== -->
	<!-- Standard -->
	<link rel="shortcut icon" href="http://placehold.it/64.png/000/fff">
	<!-- Retina iPad Touch Icon-->
	<link rel="apple-touch-icon" sizes="144x144" href="http://placehold.it/144.png/000/fff">
	<!-- Retina iPhone Touch Icon-->
	<link rel="apple-touch-icon" sizes="114x114" href="http://placehold.it/114.png/000/fff">
	<!-- Standard iPad Touch Icon-->
	<link rel="apple-touch-icon" sizes="72x72" href="http://placehold.it/72.png/000/fff">
	<!-- Standard iPhone Touch Icon-->
	<link rel="apple-touch-icon" sizes="57x57" href="http://placehold.it/57.png/000/fff">
	<!-- Styles -->
	<link rel="stylesheet" type="text/css" href="/sm/static/layui/css/layui.css">
	<link href="/sm/static/css/fontawesome-all.min.css" rel="stylesheet">
	<link href="/sm/static/css/themify-icons.css" rel="stylesheet">
	<link href="/sm/static/css/mmc-chat.css" rel="stylesheet" />
	<link href="/sm/static/css/sidebar.css" rel="stylesheet">
	<link href="/sm/static/css/bootstrap.min.css" rel="stylesheet">
	<link href="/sm/static/css/nixon.css" rel="stylesheet">
	<link href="/sm/static/css/lobipanel.min.css" rel="stylesheet">
	<link href="/sm/static/css/style.css" rel="stylesheet">
	<style>
		.myabsolute{
			width: 200px;
			height: 133px;
		}
	</style>
</head>
<body>
	<div class="container">
		<div class="row clearfix">
			<div class="col-md-12 column">
				<div class="header">
					<div class="pull-left">
						<div class="logo">
							<a th:href="@{'mainPage?id='+${uId}}">
								<img id="logoImg" src="/sm/static/images/welcome.png" alt="" />
							</a>
						</div>
					</div>
					<div class="pull-right p-r-15">
						<ul>
							<li class="header-icon dib input-group input-group-default">
								<input id="gName" type="text" th:value="${gName}" placeholder="查找购买过的商品" name="Search" class="form-control " style="height: 30px; width: 300px;">
								<i class="ti-search" style="padding-left: 12px;" onclick="search()"></i>
							</li>
							<span class="header-icon dib" style="width: 50px;"></span>
							<li class="header-icon dib">
								<i class="ti-shopping-cart"></i>
								<a class="user-avatar" th:href="@{'cartPage?uId='+${uId}}" style="color: white">购物车</a>
							</li>
							<li class="header-icon dib">
								<i class="ti-clipboard"></i>
								<a class="user-avatar" th:href="@{'orderPage?uId='+${uId}}" style="color: white">我的订单</a>
							</li>
							<li class="header-icon dib">
								<!-- <img class="avatar-img" src="img/avatar/1.jpg" alt="" /> -->
								<i class="ti-user"></i>
								<a class="user-avatar" th:text="${userName}" th:href="@{'infoPage?uId='+${uId}}" style="color: white">用户未登录</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<div class="row clearfix" style="padding-top:30px;background-color: white;">
			<div class="col-md-12 column">
				<div class="row clearfix">
					<div class="col-md-12 column"  th:each="order:${orderList}">
						<div class="row clearfix">
							<div class="col-md-12 column">
								<h1 style="padding-bottom: 10px;">
									<span style="font-size: 15px;" th:text="'时间：'+${order.createTime}"></span>
									<span style="padding-left: 30px;"></span>
									<span style="font-size: 15px;" id="idOrderNo" th:text="'订单号：'+${order.orderNo}"></span>
									<br>
								</h1>
							</div>
						</div>
						<div class="row clearfix">
							<div class="col-md-3 column">
								<img class="myabsolute" th:src="@{/static/images/}+${order.gImage}" />
							</div>
							<div class="col-md-9 column">
								<div style="height: 30px;">
									<h1 style="font-size: 20px;color: rgba(12,12,12,0.89);" th:text="${order.gName}"></h1>
								</div>
								<h1>
									<span style="font-size: 18px;color: rgba(12,12,12,0.89);" >单价：</span>
									<span style="font-size: 18px;color: rgba(12,12,12,0.89);" th:text="${order.gPrice}+'￥'"></span>
									<span style="font-size: 18px;color: rgba(12,12,12,0.89);padding-left: 50px;">购买数量：</span>
									<span style="font-size: 18px;color: rgba(12,12,12,0.89);"th:text="${order.buyCount}"></span>
									<span style="font-size: 18px;color: rgba(12,12,12,0.89);padding-left: 50px;">总价：</span>
									<span style="font-size: 18px; color: red;"th:text="${order.payMoney}+'￥'"></span>
									<span style="padding-left: 60px;">
										<span class="label label-default" style="font-size: 16px; font-weight: 400;" th:text="${order.statusName}" th:value="${order.orderStatus}"></span>
										<span style="padding-left: 100px"></span>
										<a th:onclick="payNow([[${order.orderNo}]])" th:if="${order.orderStatus eq 0}" class="label label-danger" style="font-size: 16px; font-weight: 400;">立即支付</a>
										<a th:onclick="applyRefund([[${order.orderNo}]]);" th:if="${order.orderStatus eq 1}" class="label label-danger" style="font-size: 16px; font-weight: 400;">申请退货</a>
										<a th:onclick="recieved([[${order.orderNo}]]);" th:if="${order.orderStatus eq 2}" class="label label-danger" style="font-size: 16px; font-weight: 400;">立即签收</a>
										<a th:onclick="applyRefund([[${order.orderNo}]]);" th:if="${order.orderStatus eq 3}" class="label label-danger" style="font-size: 16px; font-weight: 400;">申请退货</a>
									</span>
								</h1>									
							</div>
						</div>
					</div>
				</div>
			</div>
			<hr>
		</div>
		<div id="lp" align="center"></div>
	</div>
</body>
<script src="/sm/static/js/jquery-1.9.1.min.js"></script>
<!-- /# content wrap -->
<script src="/sm/static/js/jquery.min.js"></script>
<!-- jquery vendor -->
<script src="/sm/static/js/jquery.nanoscroller.min.js"></script>
<!-- nano scroller -->
<script src="/sm/static/js/sidebar.js"></script>

<script src="/sm/static/js/bootstrap.min.js"></script>
<!-- bootstrap -->
<script src="/sm/static/js/mmc-common.js"></script>
<script src="/sm/static/js/mmc-chat.js"></script>
<!-- Chart js -->
<script src="/sm/static/js/Chart.bundle.js"></script>
<script src="/sm/static/js/chartjs-init.js"></script>
<!-- // Chart js -->
<!--  Datamap -->
<script src="/sm/static/js/d3.min.js"></script>
<script src="/sm/static/js/topojson.js"></script>
<script src="/sm/static/js/datamaps.world.min.js"></script>
<script src="/sm/static/js/datamap-init.js"></script>
<script src="/sm/static/js/lobipanel.js"></script>
<!-- // Datamap -->
<script src="/sm/static/js/scripts.js"></script>
<script src="/sm/static/layui/layui.js"></script>
<script type="text/javascript" th:inline="javascript">
	//加载模块（组件）
	layui.use(['layer','laypage'], function(){
		//创建弹出层对象
		var layer = layui.layer;
		//创建分页对象
		var laypage = layui.laypage;
		//执行一个laypage实例
		laypage.render({
			elem: 'lp' //注意，这里的lp是id，不用加#号
			,count: [[${totalCount}]] //数据总数，从服务端得到
			,limit: [[${pageCount}]] //每页显示的条数，laypage将会借助 count 和 limit 计算出分页数。
			,curr: [[${pageNo}]]//起始页码
			,jump: function(obj, first){
				var pageNo = obj.curr;
				var pageCount = obj.limit;
				var url = "orderPage?pageNo=" + pageNo;
				url += "&pageCount="+ pageCount;
				url += "&uId="+[[${uId}]];
				url += "&gName="+$("#gName").val();
				console.info(url);
				//首次不执行
				if(!first){
					window.location.href = url;
					//ajax仅能用于前后端数据交互，不能用于页面跳转
				}
			}
		});
	});
	function search(){
		var gName = $("#gName").val();
		window.location.href = "orderPage?uId="+[[${uId}]]+"&gName="+gName;
	}
	function applyRefund(no){
		console.info("applyR"+no);
		$.ajax({
			url: "refundApply",
			data:{"orderNo" : no},
			success:function (res){
				alert(res.msg);

			}
		});
		setTimeout(function() {location.reload()}, 100);
	}
	function recieved(no){
		$.ajax({
			url: "recieved",
			data:{"orderNo" : no},
			success:function (res){
				alert(res.msg);
			}
		});
		setTimeout(function() {location.reload()}, 100);
	}
</script>
<script type="text/javascript" th:inline="javascript">
	layui.use('layer', function(){
		var layer = layui.layer;
	});
	function payNow(orderNo){
		console.info("00000000"+orderNo);
		layer.open({
			skin: 'demo-class',
			type: 2,
			area: ['300px', '180px'],
			content: "passPage",
			btn: ['支付'],
			btnAlign: 'c',
			yes: function(index){
				//获取弹层返回值
				var res = window["layui-layer-iframe" + index].callbackdata();
				var pay_res = pay(res, orderNo);
				window.location.href = "orderPage?uId="+[[${uId}]];
			}
		});
	}
	function pay(userPass, orderNo){
		var code;
		//向服务端发送支付请求
		$.ajax({
			url: "afterPay",
			data: {"userPass":userPass, "uId":[[${uId}]], "orderNo":orderNo},
			dataType: "json",
			type: "post",
			async: false,
			success:function(res){
				alert(res.msg);
				code = res.code;
			}
		});
		return code;
	}

</script>
</html>
